{% extends "base.html" %}
<!DOCTYPE html>
{% load static%}
{% block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-page</title>
</head>
<body>
    <div class="frm">
        <form method="POST">
            {% csrf_token %}
            {% load static %}
            <label for="name">Name</label>
            <input type="text" placeholder="Enter your name"name=Name id="name">
            
            <label for="E-Mail">Email</label>
            <input type="text" placeholder="Enter your E-Mail ID"name=Email id="Email">

            <label for="Mobilee">Mobile</label>
            <input type="text" placeholder="Enter your Mobile NO"name=Mobile id="Mobile">
            
            <label for="Password">Password</label>
            <input type="password" placeholder="Enter your Password"name=Password id="Password">
        

            <button type="submit">Submit</button>
            

        </form>

    </div>
    {% endblock %}
</body>
</html>