<!DOCTYPE html>
{% include "medz_app/header.html"%}
{% include "medz_app/navbar.html"%}
<html lang="en">
    {% load static  %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virma-Physio & Chiro Practice</title>
    <link rel="icon" href="{% static 'images/Medical-health-logo-design-on-transparent-background-PNG.png' %}">
</head>
<body>
    {% block content %}
    <form>
        <br>
        <h2>Patient details</h2>
        <br>
        <div id="lbl">
            <label for="date">Date</label>
            <input type="date" name="date" id="date" required>
        </div>
        <div id="lbl">
            <label for="username">Name</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div id="lbl">
            <label for="age">Age</label>
            <input type="text" name="age" id="age" required>
        </div>
        <div class="gender">
            <label for="male">Male</label>
            <input type="radio" name="gender"id="male" value="male">
            <label for="female">Female</label>
            <input type="radio" name="gender" id="female" value="female">
        </div>
        <div id="lbl">
            <label for="occupation">OCCUPATION</label>
            <input type="text" name="occupation" id="age" required>
        </div>
        <div id="lbl">
            <label for="address">ADDRESS</label>
            <textarea name="address" name="address"id="address"></textarea>
        </div>
        <div id="lbl" >
            <label>CONTACT NO</label>
            <input type="tel" name="contact no" id="contact no"maxlength="10">
        </div>
        <div id="lbl">
            <label for="chief">CHIEF COMPLAINT</label>
            <textarea name="address" name="chief"id="chief"></textarea>
        </div>
        <div id="lbl">
            <label for="INJURY">MECHANISM OF INJURY</label>
            <textarea name="address" name="INJURY"id="INJURY"></textarea>
        </div>
        <div id="lbl">
            <label for="history">HISTORY</label>
            <input type="text" name="history" id="history" required>
        </div>
        <div id="lbl">
            <label for="pain">PAIN</label>
            <input type="text" name="pain" id="pain" required>
        </div>
        <div id="lbl">
            <label for="site">SITE</label>
            <input type="text" name="site" id="site" required>
        </div>
       
        <div id="lbl">
            <label for="duration">DURATION</label>
            <input type="text" name="duration" id="duration" required>
        </div>
        <div id="lbl">
            <label for="onset">ONSET</label>
            <input type="text" name="onset" id="onset" required>
        </div>
        <div id="lbl">
            <label for="aggrevating">AGGREVATING FACTOR</label>
            <input type="text" name="aggrevating" id="aggrevating" required>
        </div>
        <div id="lbl">
            <label for="factor">RELIEVING FACTOR</label>
            <input type="text" name="factor" id="factor" required>
        </div>
        <div id="lbl">
            <label for="PALPATION">ON PALPATION</label>
            <textarea name="address" name="PALPATION"id="PALPATION"></textarea>
        </div>
        <div id="lbl">
            <label for="TEST">SPECIAL TEST</label>
            <textarea name="address" name="TEST"id="TEST"></textarea>
        </div>
        <div id="lbl">
            <label for="TREATMENT">TREATMENT</label>
            <textarea name="address" name="TREATMENT"id="TREATMENT"></textarea>
        </div>
        <div>
            <button type="submit">submit</button>
            <button type="reset">clear</button>
        </div>
    </form>
    {% endblock %}
    <script>
        $(document).ready(function){
            $(".alert").hide(4000);
        };
    </script>
</body>
</html>