
{% extends "medz_app/index.html" %}
{%load static%}
{% block content %}

<div class="container-fluid" style="margin-top:100px;">
    <div class="col-md-offset-4 col-md-4 well">
        <h2 class="text-primary page-header text-center">User Login Page</h2>
    </div>   

</div>
<div class="col-md-offset-4 col-md-4 well">
    <form method="POST" autocomplete="off">
        {% if messages %}
            {%for message in messages%}
              <div class="alert alert-{{message.tags}}">
                {{message}}
              </div>
            {%endfor%}
        {%endif%}
    </form>
</div>

{% endblock %}